@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');
* {
  
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.IonText2 h1{
    text-align: center;
    justify-content: center;
    color: red;
    margin-top: 0em;
  
}

.IonText h3{
    text-align: left;
}
.IonText p{
  text-align: justify;
}
.Manual{
    text-align: center;
    background-color: #003087;
    width: 90%;
    border-radius: 15px;
    font-size: 0.9em;
    padding: 1em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}
.img{
    width: 10rem;
    height: 10rem;
}